/.idea/
/node_modules/
/dist/
/build/*
!/build/icons
!/build/icons/*
!/build/installer.nsh
!/build/license.txt
*.log
/.vscode/
/cache/
/node-java/
/static/buildTime.txt
/static/ignoreVersions.json
/static/updateInfo.json
*.iml
/javasrc/target/
/static/dlt_db/dataLinkDB.jar
