.floatDel {
	background: #ffffff;
	border-radius: 5px;
	position: fixed;
	overflow: hidden;
	padding-bottom: 2px;
	z-index: 100;
	font-size: 12px;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	width: 120px;
	
}
.edit {
	height: 23px;
	line-height: 23px;
	cursor: pointer;
	.iconfont {
		height: 23px;
		line-height: 23px;
		font-size: 12px;
	}
}
.edit:hover {
	background-color: #eeeeee;
}
.addbtn{
	width: 100%;
}
.ivu-table-cell{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	line-height: 40px;
}
.ivu-table-header thead tr th{
	padding: 0;
}