.content1{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    // position: fixed;
    // top:65vh;
    width: 100%;
}
.taskComponet{
    margin: 0;
    padding: 0 0 0 10px;
    // width: 20%;
    li{
        display: block;
        position: relative;
        height: 18px;
        line-height: 18px;
        font-size: 13px;
        margin-bottom: 12px;
        padding-left: 26px;
        cursor: pointer;
    }
}
.taskComponet ul{
    li{
        margin-bottom: 10px;
        .iconfont{
            background: #0190d4;
            color: aliceblue;
            font-size: 12px;
        }
    }
    .webExtractionInterface{
        margin-bottom: 10px;
        .iconfont{
            background: #f90;
            color: aliceblue;
            font-size: 12px;
        }
    }
    .webReportInterface{
        margin-bottom: 10px;
        .iconfont{
            background: #f90;
            color: aliceblue;
            font-size: 12px;
        }
    }
}
.taskComponet.screen{
    li{
        margin-bottom: 10px;
            .iconfont{
            background: #f90;
            color: aliceblue;
            font-size: 12px;
        }
    }
}
.taskList{
    overflow: auto;
    min-width: 11%;
    font-size: 13px;
    color: #333;
    display: flex;
    flex-direction: column;
    .taskListTitle{
        border-bottom: 1px solid #D8E3EF;
        border-right: 4px solid #D8E3EF;
        height: 40px;
    }
    .taskListContent{
        flex: 1;
        overflow: auto;
    }
}
.taskFlow{
    padding-left: 5px;
    width: 59%;
    overflow: hidden;
    flex: 1;
    position: relative;
    .taskFlowIn{
        padding: 0 5px;
        .taskFlexBox{
          display: flex;
          align-items: flex-end;
        }
    }
}
.cmtInfo{
    min-width: 80px;
    min-height: 70px;
}
.ele{
    height: 80px;
    width: 55px;
    text-align: center;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
}
.ele-start{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border: 1px solid rgba(0,0,0,0.65);
    
    .start-style{
        width: 0px;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 30px solid rgb(13,197,13);
        border-bottom: 15px solid transparent;
    }
}
.ele-end{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid rgba(0,0,0,0.65);
    margin-left: 2px;
    .end-style{
        width: 25px;
        height: 30px;
        background: red;
    }
}
.taskCmt{
    display: flex;
    min-height: 100%;
    margin-bottom: 5px;
    align-items: flex-end;
    li{
        list-style: none;
    }
    li:nth-last-child(1){
        margin-right: 10px;
    }
    .activeLi{
        border:1px solid #0DC50D !important;
        border-radius: 5px;
        box-shadow: 5px 5px 3px #a1afc9;
    }
    .isCut{
        opacity: 0.3;
    }
    .cmt{
        border-radius: 5px;
        position: relative;
        margin: 20px 0 10px 10px;
        border: 1px solid  #999;
        .iconClass{ //组件内的图标居中
                position: absolute;
            left:28%;
            top:40%;
            font-size: 30px;
            color: #333;
        }
        .keychain-left{ //左边箭头
            position: absolute;
            left: -6px;
            bottom: 32px;
            width: 15px;
            height: 12px;
            background: linear-gradient(#eeeeee, #657180);
            border-top-right-radius: 60%;
            border-bottom-right-radius: 60%;
            border: 1px solid rgba(0,0,0,0.65);
        }
        .keychain{ //右边箭头
            position: absolute;
            border-top-left-radius: 60%;
            border-bottom-left-radius: 60%;
            border: 1px solid rgba(0,0,0,0.65);

        }
        .keychain-right{ //左边外层箭头
            bottom: 31px;
            right: -4px;
            width: 16px;
            height: 14px;
            background: #fff;
        }
        .keychain-right-inside{ //左边内层箭头
            bottom: 33px;
            width: 14px;
            height: 10px;
            right: -4px;
            background: linear-gradient(#eeeeee, #657180);
        }
        .circleCmt{
            min-width: 80px;
            min-height: 80px;
            display: flex;
            align-items: flex-end;
        }
    }
    //组件字体颜色样式
    .taskCmtName{
        color: #fff;
        text-align: center;
        height: 18px;
        line-height: 18px;
        font-size:12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }
    .taskCmtFlowName{
        background: #f90;
        width: 100%;
    }
    .taskCmtBeName{
        background: #2DA9FA;
        width: 80px;
    }

    .circleCmt{
        li:nth-child(1){
            margin-left: 10px;
        }
        li:nth-last-child(1){
            margin-right: 20px;;
        }
    }

    .judges{
        min-width: 230px;
        display: flex;
        align-items: flex-end;
        position: relative;
        margin-left:12px;
        margin:10px 0 10px 12px;
            .judge-style{
                border: 1px solid  #999;
                border-radius: 5px;
                width: 60px ;
                height: 80px;
                position: relative;
            }
            .iconClass{ //组件内的图标居中
                position: absolute;
                left:28%;
                top:40%;
                font-size: 30px;
                color: #333;
        }
        .borderOut{
            border-bottom: 3px solid #f90;
            margin-bottom: 35px;
            width: 40px;
            height: 120px;
            z-index: 1;
            position: relative;
            .leftLine{
                width: 32px;
                min-height: 120px;
                border:3px solid #f90 ;
                border-bottom: none;
                border-right: none;
                margin-left: 8px;
            }
            .trueImg{
                height: 24px;
                width: 24px;
                    position: absolute;
                    top: -12px;
                    left: 10px;
            }
            .fasleImg{
                position: absolute;
                bottom: -12px;
                left: 10px;
                height: 24px;
                width: 24px;
            }
        }
        .borderIn{
            border-bottom: 3px solid #f90;
            width:50px;
            height: 120px;
            margin-bottom: 35px;
            .rightLine{
                width: 32px;
                min-height: 120px;
                border-top: 3px solid #f90;
                border-right: 3px solid #f90;
            }
        }
        .judgeTaskCmt{
            z-index: 2;
            margin-left: 38px;
        }
        .boxTrue{
            display: flex;
            align-items: flex-end;
            min-height: 80px;
            min-width: 80px;
            border: 1px solid #999;
            border-radius: 5px;
            margin: 0 0 5px 0;
            li:nth-last-child(1){
                margin-right: 10px;
            }
        }
        .boxFalse{
            display: flex;
            align-items: flex-end;
            min-height: 80px;
            min-width: 105px;
            border: 1px solid #999;
            border-radius: 5px;
            margin: 0 0 5px 0;
            li:nth-last-child(1){
                margin-right: 10px;
            }
            
        }
    }
}
.keychain-left{ //左边箭头
    position: absolute;
    left: -6px;
    bottom: 31px;
    width: 15px;
    height: 12px;
    background: linear-gradient(#eeeeee, #657180);
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
    border: 1px solid rgba(0,0,0,0.65);
}
.keychain{ //右边箭头
    position: absolute;
    border-top-left-radius: 60%;
    border-bottom-left-radius: 60%;
    border: 1px solid rgba(0,0,0,0.65);

}
.keychain-right{ //左边外层箭头
    bottom: 31px;
    right: -4px;
    width: 16px;
    height: 14px;
    background: #fff;
}
.keychain-right-inside{ //左边内层箭头
    bottom: 33px;
    width: 14px;
    height: 10px;
    right: -4px;
    background: linear-gradient(#eeeeee, #657180);
}
.leftLine{
    display: flex;
    position: absolute;
    left: 65px;
    height: 100%
}
.judge-hline{
    display: flex;
    margin-top: 20px;
    margin-bottom: 38px;
    border-left: 3px solid #ff9900;
}
.judge-vline{
    position: absolute;
    width: 25px;
    border-top: 3px solid #ff9900;
}
.judge-vline-top{
   top: 20px;
}
.judge-left-vline-bottom{
    bottom: 36px;
    width: 38px;
}

.bgPic{
    position: absolute;
    width: 25px;
    height: 25px;
    background-size: 100%;
}
.wrong-branch{
    top: 10px;
    margin-left: 8px;
    background-image: url('../assets/img/gou.png')
}
.right-branch{
    bottom: 25px;
    margin-left: 8px;
    background-image: url('../assets/img/cha.png');
}
.judge-right-vline-bottom{
    bottom: 36px;
    width: 29px;
}
.rightLine{
    display: flex;
    margin-left: 30px;
    position: absolute;
    right: 0px;
    height: 100%;
}

.dragLine {
    height: 4px;
    background: #dcdfe6;
    cursor: row-resize;
  }
  .dragtaskLine{
      width: 4px;
      background-color: #dcdfe6;
      cursor: col-resize;
  }
  .taskListhid{
      width: 60px;
      background: #f7f7f7;
      border: 1px solid #D8E3EF;
      overflow: hidden;
  }
  .hidBtn{
      background: url('../assets/img/icon_right.png') no-repeat center;
      background-position:center center;
      height: 28px;
  }
  .hidBtn:hover{
      background: url('../assets/img/icon_right_hover.png') no-repeat center;
      background-position:center center;
  }
  .showBtn{
    background: url('../assets/img/icon_left.png') no-repeat center;
    background-position:center center;
    height: 28px;
    width: 100%;
    border-radius: 2px;
  }
  .showBtn:hover{
      background: url('../assets/img/icon_left_hover.png') no-repeat center;
      background-position:center center;
  }
  .container{
      width: 100%;
      overflow: auto;
    //   position: relative;
  }
  .hidContainer{
    width: 3% !important;
    height: 35vh;
    position: absolute;
    right: 0;
    background: #f7f7f7;
    position: relative;
}
.del{
    display: inline-block;
    width: 120px;
    font-size: 12px;
    color: #666;
    position: fixed;
    background: white;
    z-index: 3;
    cursor: pointer;
    .operation{
        font-size: 12px;
        line-height: 24px;
        height: 24px;
        margin-left: 0 !important;
        .shortcutKey{
            float: right;
        }
    }
  }
//   .del:hover{
//       color: red;
//   }
  .operation:hover{
      color: red;
  }

//   任务面板通用样式
.title {
    font-size: 12px;
    line-height: 28px;
    text-align: right;
    color: #657180;
}
.rowPadding {
    padding-top: 3%;
}
.addInfoBtn { //添加按钮
    padding: 6px 25px;
    margin-top: 5px;
    margin-bottom: 50px;
}
.runBtn { //运行按钮
    padding: 5px 10px;
}
.attr {//属性
    font-weight: 600;
    color: #666;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.attrRow { //属性面板行
    background: url("../assets/img/marketingPlanTitleBg.gif") left top
        repeat-x;
    border-bottom: 1px solid #dadada;
}
.hit{ //命中的icon
    line-height: 28px;
    height: 28px;
    font-size: 14px;
    margin-left: 4px;
    cursor: pointer;
}
.leftJustifying{ //左对齐
    text-align: left;
    font-size: 12px;
    line-height: 28px;
    color: #657180;
}
.radio{
    line-height: 28px;
    height: 28px;
    font-size: 12px;
    color: #657180 ;
}
.el-radio__label{
    font-size: 12px;
}

.el-select{
    width: 100%;
}
.el-select-dropdown__item.selected{
    font-weight: 100;
}
.el-select-dropdown__item{
    font-size: 12px;
}
.cursorClickPic{
    cursor: url('../assets/img/mouseClickStyle.ico'),auto;
}
.cursorAreaPic{
    cursor: url('../assets/img/mouseAreaStyle.ico'),auto;
}
.cursorNone{
    cursor: none;
}
.ivu-table .table-info-column{
    background-color: #2db7f5;
    color: #fff;
}

// 4.0新增
.properties{
    width: 33%;
}
.attrTop{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.execute{
    display: block;
    width: 30px;
    height: 30px;
    .executeBtn{
        font-size: 26px;
        text-align: center;
        cursor: pointer;
        font-weight: 600;
    }
}