table {
  table-layout: fixed;
}
td,
th {
  height: 15px;
}
.el-table {
  color: black;
  font-family: sans-serif;
  font-size: 13px;
}
.el-table .cell,
.el-table th {
  height: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 15px;
  user-select: text;
}
.el-table td,
.el-table th {
  padding: 5px 0px;
}
.el-button {
  padding: 5px 10px;
}
.el-form-item {
  margin-bottom: 10px;
}
.el-input__inner,
.el-input--suffix {
  height: 30px;
  line-height: 30px;
}
.el-dialog__body {
  padding: 10px 20px;
}